<html>

<head>

<script src="js/lib/vue@2.7.16.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<style>

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* background-color: #f4f0e0; */
  background-color: #ebe9e1;
  /* color: #3345a4; */
  color: #e43d12;
}

canvas {
  width: 1000px;
  height: 600px;
  position: relative;
}

#container {
  display: flex;
  width: 100%;
  justify-content: left;
}

.info-container {
  border: 1px solid black;
  width: 100%;
  padding: 5px;
  height: 1200px;
}

.speed-slide-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.day-container {
  padding: 5px;
}

.menu-subheading,h3 {
  font-weight: 500;
  font-size: 20px;
  margin: 16px 0 16px 0;
}

.menu-section {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.menu-action-name {
  font-size: 20px;
  padding-right: 10px;
  font-weight: 500;
}

input,select,button {
  padding: 5px 8px 5px 8px;
  margin: 4px;
  font-family: "Rubik", sans-serif;
  border-radius: 3px;
  border-width: 1px;
}

.created-item-header {
  display: flex;
  align-items: center;
}

.created-item {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.selection-mode-button {
  cursor: pointer;
}

.canvas-agent-label {
  position: absolute;
  font-size: 11px;
  color: black;
  z-index: 5;
  font-family: 'Helvetica';
  font-weight: 400;
}

table, th, td {
  border: 1px solid #e43d12;
  border-collapse: collapse;
  padding: 5px;
}

</style>

</head>

<body>

<div id="container">

  <div class="canvas-container">
    <canvas></canvas>
  </div>

  <div class="info-container">

    <div class="menu-section" id="agent-types-section">
      <h3 class="menu-section-heading">Selected Agent</h3>
      <div v-if="selectedAgent !== null">
        {{ selectedAgent.name }} {{ selectedAgent.num }}<br/>
        current action: {{ selectedAgent.currentStateName }}
      </div>
      <div v-else>none</div>
    </div>

    <div class="menu-section" id="agent-types-section">
      <h3 class="menu-section-heading">Agent Types</h3>

      <!-- EDIT AGENT TYPE -->
      <div v-for="(agentType, i) in AGENT_DATA">
        <div v-if="agentType.config.name !== 'world'">
          <div v-if="agentType.editing === true">
            name: <input v-model="agentType.config.name" type="text" placeholder="name" /><br />
            width: <input v-model="agentType.config.width" type="number" placeholder="width" /><br />
            height: <input v-model="agentType.config.height" type="number" placeholder="height" /><br />
            movement speed: <input v-model="agentType.config.nominalSpeed" type="number" placeholder="1" /><br />
            spriteMap:
            <select v-model="agentType.config.spriteMap">
              <option value="">-- select sprite map --</option>
              <option :value="spriteMap" v-for="spriteMap in spriteMaps">{{ spriteMap.name }}</option>
            </select>
            <br />
            thumbnail: {{ agentType.config.thumbnail }}<br />
            <input type="file" placeholder="thumbnail" @change="updateThumbnailFileInput($event, agentType.config)" /><br />
            <button @click="agentType.editing = false; $forceUpdate()">save</button>
            <button @click="agentType.editing = false; $forceUpdate()">cancel</button>
          </div>
          <div v-else>
            <div>
              {{ agentType.config.name }}
              <button @click="agentType.editing = true; $forceUpdate()">edit</button>
              <button @click="deleteAgentType(agentType.config.name)">delete</button>
            </div>
          </div>
        </div>
      </div>

      <!-- CREATE AGENT TYPE -->
      <div v-if="agentTypeForm.adding === true">
        name: <input v-model="agentTypeForm.name" type="text" placeholder="name" /><br />
        width: <input v-model="agentTypeForm.width" type="number" placeholder="width" /><br />
        height: <input v-model="agentTypeForm.height" type="number" placeholder="height" /><br />
        movement speed: <input v-model="agentTypeForm.nominalSpeed" type="number" placeholder="1" /><br />
        spriteMap:
        <select v-model="agentTypeForm.spriteMap">
          <option value="">-- select sprite map --</option>
          <option :value="spriteMap" v-for="spriteMap in spriteMaps">{{ spriteMap.name }}</option>
        </select><br />
        thumbnail: {{ agentTypeForm.thumbnail }}<br />
        <input type="file" placeholder="thumbnail" @change="updateThumbnailFileInput($event, agentTypeForm)" /><br />
        <button @click="createAgentType()">create agent type</button>
      </div>
      <div v-else><button @click="agentTypeForm.adding = true">new agent type</button></div>

    </div>

    <div class="menu-section" id="sprite-sheets-section">
      <h3 class="menu-section-heading">Sprite Sheets</h3>

      <div v-for="(spriteSheet, i) in spriteSheets">

        <!-- EDIT SPRITE SHEET -->
        <div v-if="spriteSheet.editing === true">
          name: <input v-model="spriteSheet.name" type="text" placeholder="name" /><br />
          src: {{ spriteSheet.src }}<br />
          <input type="file" placeholder="src" @change="updateSpritesheetFileInput($event, spriteSheet)" /><br />
          rows: <input v-model="spriteSheet.rows" type="number" placeholder="rows" /><br />
          columns: <input v-model="spriteSheet.columns" type="number" placeholder="columns" /><br />
          numImages: <input v-model="spriteSheet.numImages" type="number" placeholder="number of images" /><br />
          refreshInterval: <input v-model="spriteSheet.refreshInterval" type="number" placeholder="refresh interval" /><br />
          <br />
          <button @click="saveSpriteSheet(spriteSheet)">save</button>
          <button @click="spriteSheet.editing = false">cancel</button>
        </div>
        <div v-else>
          <div>
            {{ spriteSheet.name }}
            <button @click="spriteSheet.editing = true">edit</button>
            <button @click="deleteSpriteSheet(i)">delete</button>
          </div>
        </div>

      </div>

      <!-- CREATE SPRITE SHEET -->
      <div v-if="spriteSheetForm.adding === true">
        name: <input v-model="spriteSheetForm.name" type="text" placeholder="name" /><br />
        src: <input type="file" placeholder="src" @change="updateSpritesheetFileInput($event, spriteSheetForm)" /><br />
        rows: <input v-model="spriteSheetForm.rows" type="number" placeholder="rows" /><br />
        columns: <input v-model="spriteSheetForm.columns" type="number" placeholder="columns" /><br />
        numImages: <input v-model="spriteSheetForm.numImages" type="number" placeholder="number of images" /><br />
        refreshInterval: <input v-model="spriteSheetForm.refreshInterval" type="number" placeholder="refresh interval" /><br />
        <button @click="createSpriteSheet()">create sprite sheet</button>
        <button @click="spriteSheetForm.adding = false">cancel</button>
      </div>
      <div v-else>
        <button @click="spriteSheetForm.adding = true">new sprite sheet</button>
      </div>

    </div>


    <div class="menu-section" class="sprite-maps-section">
      <h3 class="menu-section-heading">Sprite Maps</h3>

      <div v-for="(spriteMap, i) in spriteMaps">

        <!-- EDIT SPRITE MAP -->
        <div v-if="spriteMap.editing === true">
          name: <input v-model="spriteMap.name" type="text" placeholder="name" /><br />

        <table class="sprite-map-direction-table">
          <tr v-for="row in directionList">
            <td v-for="directionName in row">
              <select v-model="spriteMap.sheets[directionName]">
                <option value="">-- {{directionName  }} --</option>
                <option v-for="spriteSheet in spriteSheets" :value="spriteSheet">{{ spriteSheet.name }}</option>
              </select>
              <br />
              <img :src="spriteMap.sheets[directionName].src" width=70" height="70"/>
            </td>
          </tr>
        </table>

          <br />
          <button @click="saveSpriteMap(spriteMap)">save</button>
          <button @click="spriteMap.editing = false">cancel</button>
        </div>
        <div v-else>
          <div>
            {{ spriteMap.name }}
            <button @click="spriteMap.editing = true">edit</button>
            <button @click="deleteSpriteMap(i)">delete</button>
          </div>
        </div>

      </div>

      <!-- CREATE SPRITE MAP -->
      <div v-if="spriteMapForm.adding === true">
        name: <input v-model="spriteMapForm.name" type="text" placeholder="name" /><br />

        <table class="sprite-map-direction-table">
          <tr v-for="row in directionList">
            <td v-for="directionName in row">
              <select v-model="spriteMapForm.sheets[directionName]">
                <option value="">-- {{directionName  }} --</option>
                <option v-for="spriteSheet in spriteSheets" :value="spriteSheet">{{ spriteSheet.name }}</option>
              </select>
              <br />
              <img :src="spriteMapForm.sheets[directionName].src" width=70" height="70"/>
            </td>
          </tr>
        </table>

        <button @click="createSpriteMap()">create sprite map</button>
      </div>
      <div v-else>
        <button @click="spriteMapForm.adding = true">new sprite map</button>
      </div>
    </div>


    <div class="menu-section" id="properties-section">
      <h3 class="menu-section-heading">Properties</h3>
      <!-- PROPERTY LIST -->
      <div v-if="selectedAgent !== null" class="item-list">
        <div v-for="property in Object.keys(selectedAgent.stateData)">
          <input type="text" placeholder="name" :value="property" disabled />
          <input
            v-model="selectedAgent.stateData[property]"
            type="number"
            :value="selectedAgent.stateData[property]"
          />
          <button @click="delete selectedAgent.stateData[property]">delete</button>
          <br/>
        </div>
        <div v-else>
          <input type="text" placeholder="name" :value="item.name" disabled />:
          <input type="text" placeholder="value" :value="item.value" disabled /> -
          <button @click="item.editing = true">edit</button> |
          <button @click="deleteProperty(item.name)">delete</button>
        </div>

        <!-- ADD PROPERTY -->
        <div v-if="propertiesSection.adding.status === false" class="add-container">
          <button @click="propertiesSection.adding.status = true">new property +</button>
        </div>
        <div v-else>
          <input v-model="propertiesSection.adding.newPropertyName" type="text" placeholder="name" />
          <input v-model="propertiesSection.adding.newPropertyValue" type="number" placeholder="0" />
          <button @click="createAgentProperty">add</button> |
          <button @click="cancelSetAgentProperty">cancel</button>
        </div>
      </div>

      <div class="item-list">
        <h3 class="menu-section-heading">Choose action</h3>
        <div v-for="action in actionsSection.items">
          <button @click="cloneAction(action)">{{ action.actionName }}</button>
        </div>
      </div>

    </div>


    <!-- ACTIONS -->

    <div class="menu-section" id="actions-section">
      <h3 class="menu-section-heading">Actions</h3>

      <!-- ACTION LIST -->
      <div class="item-list">
        <div v-for="action in actionsSection.items" class="created-item">

          <div class="created-item-header">
            <div class="menu-action-name">{{ action.actionName }}</div>
            <div v-if="action.editing">
              <button @click="action.editing = false">save</button>
              <button @click="action.editing = false">cancel</button>
            </div>
            <div v-else>
              <div v-if="action.actionType === 'change'">
                <button @click="deleteAction(action.actionName)">delete action</button>
              </div>
              <div v-else>
                <button @click="action.editing = true">edit</button>
                <button @click="deleteAction(action.actionName)">delete</button>
              </div>

            </div>
          </div>

          <!-- GOTO ACTION EDIT FORM -->
          <div v-if="action.actionType === 'goTo'">
            <div v-if="action.editing === true">
              <!-- removed until can cleanly change action type -->
              <!-- <select v-model="action.actionType">
                <option value="goTo">go to</option>
                <option value="change">change</option>
                <option value="interval">wait</option>
              </select> -->

              <select v-model="action.args.destinationType">
                <option>-- select agent or point --</option>
                <option value="agent">agent</option>
                <option value="point">point</option>
              </select>

              <select v-model="action.args.agentType">
                <option value="">-- agent type --</option>
                <option v-for="agent in AGENT_DATA" :value="agent.config.name">{{ agent.config.name }}</option>
              </select>

              <form name="agentRadioSelect">
                <input
                  type="radio"
                  v-model="action.args.agentChoiceMethod"
                  name="agentChoiceMethod"
                  value="nearest"
                  checked="true"
                />
                <label for="nearest">nearest</label>
                <input
                  type="radio"
                  v-model="action.args.agentChoiceMethod"
                  name="agentChoiceMethod"
                  value="specific"
                />
                <label for="nearest">specific</label>
              </form>

              <div v-if="action.args.agentChoiceMethod === 'specific'">
                <select v-model="action.args.target">
                  <option value="">-- select agent --</option>
                  <option
                    v-for="agentType in AGENT_DATA[action.args.agentType].agentItems"
                    :value="agentType"
                  >
                    {{ agentType.name }}
                  </option>
                </select>
              </div>

            </div>
            <div v-else>
              <div>action type: {{ action.actionType }}</div>
              <input v-model="action.args.agentType" type="text" placeholder="target" :value="action.args.agentType" disabled />
            </div>
          </div>

          <!-- (ACTION) PROPERTY CHANGE ITEM EDIT FORM -->
          <div v-if="action.actionType === 'change'">
            <div v-for="(propertyChange, index) in action.propertyChanges">
              <div v-if="propertyChange.editing === true">
                <select v-model="propertyChange.agent">
                  <option value="self">self</option>
                  <option v-for="agent in AGENT_DATA" :value="agent.config.name">{{ agent.config.name }}</option>
                </select>

                <form name="agentPropChangeRadioSelect">
                  <input
                    type="radio"
                    v-model="propertyChange.args.agentChoiceMethod"
                    name="agentChoiceMethod"
                    value="nearest"
                    checked="true"
                  />
                  <label for="nearest">nearest</label>
                  <input
                    type="radio"
                    v-model="propertyChange.args.agentChoiceMethod"
                    name="agentChoiceMethod"
                    value="specific"
                  />
                  <label for="specific">specific</label>
                  <input
                    type="radio"
                    v-model="propertyChange.args.agentChoiceMethod"
                    name="agentChoiceMethod"
                    value="all"
                  />
                  <label for="all">all</label>
                </form>

                <select v-model="propertyChange.propertyName">
                  <option value="money">money</option>
                </select>
                <select v-model="propertyChange.changeType">
                  <option value="increase">increase</option>
                  <option value="decrease">decrease</option>
                </select>
                <input
                  v-model="propertyChange.propertyValue"
                  type="number"
                  placeholder="value"
                  :value="propertyChange.propertyValue"
                />
                <button @click="propertyChange.editing = false">save</button>
                <button @click="propertyChange.editing = false">cancel</button>
              </div>
              <div v-else>
                <div>change {{ index + 1 }}:</div>
                <input type="text" placeholder="property" :value="propertyChange.propertyName" disabled />
                <input type="text" placeholder="change" :value="propertyChange.changeType" disabled />
                <input type="number" placeholder="value" :value="propertyChange.propertyValue" disabled />
                <button @click="propertyChange.editing = true">edit item</button>
                <button @click="action.propertyChanges.splice(index, 1); action.adding = true">delete item</button>
              </div>
            </div>

            <!-- (ACTION) PROPERTY CHANGE ITEM CREATE FORM -->
            <div v-if="propertyChangeForm.adding === true">
                <select v-model="propertyChangeForm.agent">
                  <option value="">-- agent --</option>
                  <option value="self">self</option>
                  <option v-for="agent in AGENT_DATA" :value="agent.config.name">{{ agent.config.name }}</option>
                  <option value="lemonadeStall">lemonade stall</option>
                </select>

                <form name="agentPropChangeRadioCreate">
                  <input
                    type="radio"
                    v-model="propertyChangeForm.agentChoiceMethod"
                    name="agentChoiceMethod"
                    value="nearest"
                    checked="true"
                  />
                  <label for="nearest">nearest</label>
                  <input
                    type="radio"
                    v-model="propertyChangeForm.agentChoiceMethod"
                    name="agentChoiceMethod"
                    value="specific"
                  />
                  <label for="specific">specific</label>
                  <input
                    type="radio"
                    v-model="propertyChangeForm.agentChoiceMethod"
                    name="agentChoiceMethod"
                    value="all"
                  />
                  <label for="all">all</label>
                </form>

                <div v-if="propertyChangeForm.agentChoiceMethod === 'specific'">
                  <select v-model="propertyChangeForm.target">
                    <option value="">-- select agent --</option>
                    <option
                      v-for="agent in AGENT_DATA[propertyChangeForm.agent].agentItems"
                      :value="agent"
                    >
                      {{ agent.name }}
                    </option>
                  </select>
                </div>

                <select v-model="propertyChangeForm.property">
                  <option value="">--  property --</option>
                  <option v-for="property in Object.keys(selectedAgent.stateData)" :value="property">{{ property }}</option>
                </select>
                <select v-model="propertyChangeForm.change">
                  <option value="">-- change --</option>
                  <option value="increase">increase</option>
                  <option value="decrease">decrease</option>
                </select>
                <input
                  v-model="propertyChangeForm.value"
                  type="number"
                  placeholder="value"
                  :value="propertyChangeForm.value"
                />
                <button @click="createPropertyChangeItem(action)">save</button>
                <button @click="propertyChangeForm.adding = false">cancel</button>
            </div>
            <div v-else>
              <button @click="propertyChangeForm.adding = true">new property change</button>
            </div>
          </div>

          <!-- INTERVAL EDIT FORM -->
          <div v-if="action.actionType === 'interval'">
            <div v-if="action.editing === true">
              <input v-model="action.duration" type="number" />
            </div>
            <div v-else>
              <div>action type: {{ action.actionType }}</div>
              <input :value="action.duration" type="number" disabled />
            </div>
          </div>

          <h4>Action transitions</h4>

          <!-- CREATE TRANSITION -->
          <div v-if="actionTransitionForm.adding === true && actionTransitionForm.action === action">
            <select v-model="actionTransitionForm.condition">
              <option v-for="condition in conditionsSection.items" :value="condition">
                {{ condition.conditionName }}
              </option>
            </select>
            <select v-model="actionTransitionForm.nextAction">
              <option v-for="action in actionsSection.items" :value="action">
                {{ action.actionName }}
              </option>
            </select>
            <button @click="createTransition(action)">add</button> |
            <button @click="cancelAddTransition(action)">cancel</button>
          </div>

          <!-- ACTION TRANSITIONS -->
          <div v-for="(transition, index) in action.transitions">
            <div v-if="transition.editing === true">
              <select :value="transition.condition">
                <option v-for="condition in conditionsSection.items" :value="transition.condition">
                  {{ condition.conditionName }}
                </option>
              </select>
              <select :value="transition.nextAction">
                <option v-for="action in actionsSection.items" :value="transition.nextAction">
                  {{ action.actionName }}
                </option>
              </select>
              <button @click="transition.editing = false">save</button>
              <button @click="transition.editing = false">cancel</button>
            </div>
            <div v-else>
              <table>
                <tr>
                  <th>if condition met</th>
                  <th>transition to</th>
                </tr>
                <tr v-for="(transition, index) in action.transitions">
                  <td>{{ transition.condition.conditionName }}</td>
                  <td>{{ transition.nextAction.actionName }}</td>
                </tr>
              </table>
              <br />
              <button @click="transition.editing = true">edit</button>
              <button @click="deleteTransition(action, index)">delete</button>
            </div>

          </div>

          <button @click="actionTransitionForm.adding = true; actionTransitionForm.action = action">add transition</button>

        </div>

        <!-- ACTIONS CREATE -->
        <div v-if="actionsSection.adding.status === false" class="add-container">
          <button @click="actionsSection.adding.status = true">new action</button>
        </div>
        <div v-else>
          <input v-model="actionsSection.adding.name" type="text" placeholder="name" />
          <br />
          <select v-model="actionsSection.adding.type">
            <!-- World agent cannot travel, only change properties and pause for intervals -->
            <option value="">-- action type --</option>
            <option v-if="selectedAgent.name !== 'world'" value="goTo">go to</option>
            <option value="change">change</option>
            <option value="interval">wait</option>
          </select>
          <br />

          <!-- FORM FIELDS SPECIFIC TO ACTION TYPE -->
          <div v-if="actionsSection.adding.type === 'goTo'">
            <select v-model="actionsSection.adding.forms.goTo.destinationType">
              <option value="">-- destination type --</option>
              <option value="agent">agent</option>
              <option value="point">point</option>
            </select>

            <div v-if="actionsSection.adding.forms.goTo.destinationType === 'agent'">
              <select v-model="actionsSection.adding.forms.goTo.agentType">
                <option value="">-- agent type --</option>
                <option v-for="agent in AGENT_DATA" :value="agent.config.name">{{ agent.config.name }}</option>
              </select>

              <form name="agentRadioSelect" @change="console.log(actionsSection.adding.forms.goTo.agentChoiceMethod)">
                <input
                  type="radio"
                  v-model="actionsSection.adding.forms.goTo.agentChoiceMethod"
                  name="agentChoiceMethod"
                  value="nearest"
                  checked="true"
                />
                <label for="nearest">nearest</label>
                <input
                  type="radio"
                  v-model="actionsSection.adding.forms.goTo.agentChoiceMethod"
                  name="agentChoiceMethod"
                  value="specific"
                />
                <label for="nearest">specific</label>
              </form>
              <button
                class="selection-mode-button"
                @click="selectionMode = !selectionMode"
                :style="{backgroundColor: selectionMode ? 'grey' : 'white'}"
              >x</button>

              <div v-if="actionsSection.adding.forms.goTo.agentChoiceMethod === 'specific'">
                <select v-model="actionsSection.adding.forms.goTo.target">
                  <option value="">-- select agent --</option>
                  <option
                    v-for="agent in AGENT_DATA[actionsSection.adding.forms.goTo.agentType].agentItems"
                    :value="agent"
                  >
                    {{ agent.name }}
                  </option>
                </select>
              </div>

            </div>

            <div v-if="actionsSection.adding.forms.goTo.destinationType === 'point'">
              <div>Select point:
                <button
                  class="selection-mode-button"
                  @click="selectionMode = !selectionMode"
                  :style="{backgroundColor: selectionMode ? 'grey' : 'white'}"
                >x</button>
                <br />
                x:
                <input
                  v-model="actionsSection.adding.forms.goTo.pointX"
                  type="text"
                  :placeholder="mouse.x"
                />
                <br />
                y:
                <input
                  v-model="actionsSection.adding.forms.goTo.pointY"
                  type="text"
                  :placeholder="mouse.y"
                  value=""
                />
                <br />
              </div>
            </div>

          </div>

          <div v-if="actionsSection.adding.type === 'interval'">
            <input
              type="number"
              v-model="actionsSection.adding.forms.interval.duration"
              placeholder="0"
            />
          </div>

          <button @click="createAction">save action</button> |
          <button @click="cancelAddAction">cancel</button>

        </div>
      </div>
    </div>

    <!-- CONDITIONS -->

    <div class="menu-section" id="actions-section">
      <h3 class="menu-section-heading">Conditions</h3>

      <!-- CONDITION LIST -->
      <div class="item-list">
        <div v-for="(item, index) in conditionsSection.items" class="created-item">

          <div class="created-item-header">
            <div v-if="item.editing">
              <input v-model="item.conditionName" type="text" placeholder="name" />
              <button @click="item.editing = false">save</button>
              <button @click="item.editing = false">cancel</button>
            </div>
            <div v-else>
              <div class="menu-action-name">{{ item.conditionName }}</div>
              <button @click="item.editing = true">edit</button>
              <button @click="deleteCondition(index)">delete</button>
            </div>
          </div>

          <!-- CONDITION FORM -->
          <div v-if="item.editing === true">
            <select v-model="item.conditionType">
              <option value="property">property</option>
              <option value="preset">preset</option>
            </select>
          </div>
          
            <div v-if="item.editing === true">
              <div v-if="item.conditionType === 'property'">
                <select v-model="item.property">
                  <option value="money">money</option>
                </select>

                <select v-model="item.comparison">
                  <option value="isGreaterThan">is greater than</option>
                  <option value="isLessThan">is less than</option>
                </select>
              </div>
              <div v-else-if="item.conditionType === 'preset'">
                <select v-model="item.classMethod">
                  <option value="atDestination">at destination</option>
                  <option value="actionIsComplete">is complete</option>
                </select>

                <select v-model="item.comparison" value="isIdentical">
                  <option value="isIdentical">is</option>
                </select>
              </div>

              <select v-model="item.conditionValue">
                <option :value="true">true</option>
                <option :value="false">false</option>
              </select>

            </div>
            <div v-else>
              <div v-if="item.conditionType === 'property'">
                <input type="text" placeholder="property" :value="item.property" disabled />
              </div>
              <div v-else-if="item.conditionType === 'preset'">
                <input type="text" placeholder="preset" :value="item.classMethod" disabled />
              </div>
              <input type="text" placeholder="comparison" :value="item.comparison" disabled />
              <input type="text" placeholder="value" :value="item.conditionValue" disabled />
            </div>
          </div>

          <!-- CREATE CONDITION -->

          <div v-if="conditionsSection.adding.status === false" class="add-container">
            <button @click="conditionsSection.adding.status = true">new condition</button>
          </div>
          <div v-else>
            <input v-model="conditionsSection.adding.name" type="text" placeholder="name" />
            <br />
            <select v-model="conditionsSection.adding.type">
              <option value="property">property</option>
              <option value="preset">preset</option>
            </select>
            <br />

            <div v-if="conditionsSection.adding.type === 'property'">
              <select
                v-model="conditionsSection.adding.forms.property.property"
                id="action-change-property-name"
              >
                <option value="">-- select property --</option>
                <option value="money">money</option>
              </select>
              <select v-model="conditionsSection.adding.forms.property.comparison" value="isGreaterThan">
                <option value="">-- select comparison --</option>
                <option value="isGreaterThan">is greater than</option>
                <option value="isLessThan">is less than</option>
              </select>
              <input
                number="text"
                v-model="conditionsSection.adding.forms.property.value"
                id="action-change-property-value"
                placeholder="conditions value"
              />
            </div>

            <div v-else-if="conditionsSection.adding.type === 'preset'">
              <select
                v-model="conditionsSection.adding.forms.preset.preset"
                id="action-change-property-name"
              >
                <option value="">-- select preset --</option>
                <option value="atDestination">at destination</option>
                <option value="actionIsComplete">is complete</option>
              </select>

              <select v-model="conditionsSection.adding.forms.preset.comparison" value="isIdentical">
                <option value="">-- select comparison --</option>
                <option value="isIdentical">is</option>
              </select>

              <select v-model="conditionsSection.adding.forms.preset.value">
                <option :value="true">true</option>
                <option :value="false">false</option>
              </select>

            </div>

            <button @click="createCondition">add</button> |
            <button @click="cancelAddCondition">cancel</button>

        </div>
      </div>

    </div>

    <div class="menu-section">

      <div class="day-container">
        Day: <span id="day-number">{{ dayNumber }}</span>
      </div>

      <div class="speed-slide-container">
        <div><span>Speed: {{ GlobalSettings.globalSpeed / 100 }}</span></div>
        <input
          v-model="GlobalSettings.globalSpeed"
          type="range"
          min="0"
          max="200"
          value="100"
          id="sim-speed-slider"
        >
      </div>

    </div>
  </div>
</div>

</body>

<script src="js/constants.js"></script>
<script src="js/utils.js"></script>
<script src="js/globalSettings.js"></script>
<script src="js/Sprite.js"></script>
<script src="js/Condition.js"></script>
<script src="js/Action.js"></script>
<script src="js/Agent.js"></script>
<script src="js/SelectionMenu.js"></script>

<script>

let canvas;
let c;  // canvas context

const backgroundColor = 'rgb(200, 200, 200)'

let dayNumber = 1
let dayLength = 1000 // frames

// const customerData = [{x: 0, y: 0}, {x: 900, y: 400}]
const customerData = [{x: 900, y: 400}]
const lemonadeStallData = [{x: 400, y: 200}, {x: 700, y: 100}]
// const supplyVanData = [{x: 800, y: 800}]
const supplyVanData = []
const worldData = [{x: 20, y: 20}]
const agentMenuButtonData = [
  {name: 'customer', rgb: [255, 0, 0]},
  {name: 'lemonadeStall', rgb: [0, 0, 255]},
  {name: 'supplyVan', rgb: [255, 255, 0]}
]


const DEFAULT_ACTION_TYPE = 'goTo'
const DEFAULT_CONDITION_TYPE = 'property'


const AGENT_DATA = {
  customer: {
    agentItems: [],
    config: {
      name: 'customer',
      width: 30,
      height: 40,
      offset: {x: 96, y: 46},
      scale: 0.7,
      nominalSpeed: 0.02,
      imageSrc: '../img/sprites/GirlSample_Walk_Down.png',
      spriteMap: null,
      thumbnail: ''
    },
    editing: false
  },
  lemonadeStall: {
    agentItems: [],
    config: {
      name: 'lemonadeStall',
      width: 130,
      height: 104,
      offset: {x: 0, y: 0},
      scale: 1,
      nominalSpeed: 0.02,
      imageSrc: '../img/stall-1.png',
      spriteMap: null,
      thumbnail: ''
    },
    editing: false
  },
  supplyVan: {
    agentItems: [],
    config: {
      name: 'supplyVan',
      width: 50,
      height: 50,
      offset: {x: 2, y: 0},
      scale: 2.5,
      nominalSpeed: 0.02,
      imageSrc: '../img/sprites/SupplyVan_Right.png',
      spriteMap: null,
      thumbnail: ''
    },
    editing: false
  },
  world: {
    agentItems: [],
    config: {
      name: 'world',
      width: 25,
      height: 25,
      // frames: {max: 1, columns: 1, rows: 1, hold: 1},
      offset: {x: 0, y: 0},
      scale: 1,
      nominalSpeed: 0.02,
      imageSrc: '../img/blackCircle.png',
      spriteMap: null,
      thumbnail: ''

    }
  }
}


function endDay() {
  dayNumber++
}


var vue = new Vue({
  el: '#container',
  data: {

    GlobalSettings: {
      globalSpeed: 100,
      animationFrameId: 1
    },

    // agent detail to display in UI
    selectedAgent: null,
    // agent to select as target/object in action creation e.g. 'go to'
    selectedTargetAgent: null,
    agentPreview: null,
    placingAgent: false,
    deleteMode: false,
    // mode to select target agent
    selectionMode: false,
    // set by click on board in selection mode
    cursorSelection: null,
    deleteButton: null,
    itemMenu: null,

    mouse: {x: 0, y: 0},

    agentMenuButtons: [],

    spriteMaps: [],
    spriteSheets: [],

    spriteMapsData: JSON.parse(localStorage.getItem('pondlifeSpriteMaps')),
    spriteSheetsData: JSON.parse(localStorage.getItem('pondlifeSpriteSheets')),

    // hard-coded 8-way list (9 including 'idle') for basic 2D directional sprite movements
    directionList: [
      ['upLeft', 'up', 'upRight'],
      ['left', 'idle', 'right'],
      ['downLeft', 'down', 'downRight']
    ],

    agentTypeForm: {
      adding: false,
      name: '',
      height: 50,
      width: 50,
      spriteMap: '',
      thumbnail: '',
      nominalSpeed: 0.02,
      positionX: 100,
      positionY: 100
    },
    propertiesSection: {
      items: [{name: 'money', value: 200, editing: false}],
      adding: {
        status: false,
        newPropertyName: '',
        newPropertyValue: 0
      }
    },
    actionsSection: {
      items: [
        // {
        //   name: 'go to shop',
        //   type: 'goTo',
        //   target: 'lemonadeStall 1',
        //   editing: false,
        //   transitions: {
        //     items: [],
        //     adding: false,
        //     newCondition: '',
        //     newNextAction: ''
        //   }
        // }
      ],
      adding: {
        status: false,
        type: '',
        name: '',
        forms: {
          goTo: {
            destinationType: '',
            agentType: '',
            agentChoiceMethod: '',
            target: '',
            pointX: '',
            pointY: ''
          },
          interval: {
            duration: 0
          }
        }
      }
    },
    conditionsSection: {
      items: [
        // {
        //   type: 'property',
        //   property: 'money',
        //   comparison: 'isGreaterThan',
        //   value: 20,
        //   editing: false
        // }
      ],
      adding: {
        status: false,
        type: 'property',
        name: '',
        forms: {
          property: {
            property: '',
            comparison: '',
            value: 0
          },
          preset: {
            preset: '',
            comparison: '',
            value: true
          }
        }
      }
    },
    actionTransitionForm: {
      adding: false,
      action: null,
      condition: null,
      nextAction: null
    },
    propertyChangeForm: {
      adding: false,
      agent: '',
      agentType: '',
      agentChoiceMethod: '',
      target: '',
      property: '',
      change: '',
      value: ''
    },
    spriteSheetForm: {
      adding: false,
      name: '',
      src: '',
      columns: 1,
      rows: 1,
      numImages: 1,
      refreshInterval: 1
    },
    spriteMapForm: {
      adding: false,
      name: '',
      sheets: {
        idle: '',
        up: '',
        upRight: '',
        right: '',
        downRight: '',
        down: '',
        downLeft: '',
        left: '',
        upLeft: ''
      }
    }
  },

  mounted: function () {
    canvas = document.querySelector('canvas')
    c = canvas.getContext('2d')

    canvas.width = 1000
    canvas.height = 600

    c.fillStyle = backgroundColor
    c.fillRect(0, 0, canvas.width, canvas.height)

    this.loadAgentsAndFixtures()

    this.animate()

    /* --- CLICK ACTIONS / EVENT LISTENERS --- */

    canvas.addEventListener('mousemove', (event) => {
      this.mouse.x = event.pageX
      this.mouse.y = event.pageY
    })

    canvas.addEventListener('click', (event) => {
      const point = {x: event.x, y: event.y}

      // PLACE NEW AGENT ON
      if (this.placingAgent) {
        const isInMenuArea = pointIsInArea(point, this.itemMenu.area)
        if (isInMenuArea === false) {
          const agentClassName = this.agentPreview.agentType
          this.addAgent(agentClassName, AGENT_DATA[agentClassName].agentItems)
          this.placingAgent = false
          this.agentPreview = null
        } else {
          hover = true
        }
      }

      const agentNameList = Object.keys(AGENT_DATA)

      agentNameList.forEach(agentName => {
        this.selectOrDeleteAgent(agentName, point)
      })

      // SELECT AGENT BUTTON TO CREATE CURSOR PREVIEW (to place new agent on board)
      for (let i = 0; i < this.agentMenuButtons.length; i++) {

        const isInArea = pointIsInArea(point, this.agentMenuButtons[i].area)

        if (isInArea) hover = 'true'

        if (isInArea && !this.agentPreview) {

          this.agentPreview = new AgentPreview({
            agent: AGENT_DATA[this.agentMenuButtons[i].name].agentClass,
            rgb: this.agentMenuButtons[i].rgb,
            config: AGENT_DATA[this.agentMenuButtons[i].name].config
          })

          this.placingAgent = true
          break

        } else if (isInArea && agentPreview) {
          // if have active agent preview (tracking cursor), clicking on the agent menu again cancels the selection
          this.placingAgent = false
          this.agentPreview = null
        }
      }

      // TOGGLE DELETE MODE
      const isInArea = pointIsInArea(point, this.deleteButton.area)

      if (isInArea) {
        hover = true
        this.deleteMode = !this.deleteMode
      }

      // POINT/AGENT SELECTION MODE
      if (this.selectionMode === true) {
        this.actionsSection.adding.forms.goTo.pointX = this.mouse.x
        this.actionsSection.adding.forms.goTo.pointY = this.mouse.y
      }

    })

    document.addEventListener('keydown', (e) => {
      if (e.code === 'Escape' && this.placingAgent === true) {
        this.placingAgent = false
        this.agentPreview = null
      }
    })
  },

  methods: {

    loadAgentsAndFixtures: function () {

      // load from localStorage (temporary solution while frontend-only)
      this.spriteMaps = this.spriteMapsData !== null ? this.spriteMapsData : []
      this.spriteSheets = this.spriteSheetsData !== null ? this.spriteSheetsData : []

      lemonadeStallData.forEach((stall, i) => {
        AGENT_DATA.lemonadeStall.agentItems.push( new Agent({
          position: {x: stall.x, y: stall.y},
          num: i + 1,
          globals: this.GlobalSettings,
          config: AGENT_DATA.lemonadeStall.config
        }))
      })
      supplyVanData.forEach((van, i) => {
        AGENT_DATA.supplyVan.agentItems.push( new Agent({
          position: {x: van.x, y: van.y},
          num: i + 1,
          globals: this.GlobalSettings,
          config: AGENT_DATA.supplyVan.config
        }))
      })

      // hard-coding for the moment
      AGENT_DATA.customer.config.spriteMap = this.spriteMaps[0]
      customerData.forEach((cust, i) => {
        AGENT_DATA.customer.agentItems.push( new Agent({
          position: {x: cust.x, y: cust.y},
          num: i + 1,
          globals: this.GlobalSettings,
          // hard-coding for the moment
          config: AGENT_DATA.customer.config
        }))
      })

      worldData.forEach((wd, i) => {
        AGENT_DATA.world.agentItems.push( new Agent({
          position: {x: wd.x, y: wd.y},
          num: i + 1,
          globals: this.GlobalSettings,
          config: AGENT_DATA.world.config
        }))
      })

      this.itemMenu = new AgentMenu()
      agentMenuButtonData.forEach((icon, i) => {
        this.agentMenuButtons.push(
          new AgentMenuIcon({
            menu: this.itemMenu,
            i: i,
            name: icon.name,
            agent: AGENT_DATA[icon.name].agentClass,
            config: AGENT_DATA[icon.name].config
          })
        )
      })
      this.deleteButton = new DeleteButton({
        menu: this.itemMenu,
        i: this.agentMenuButtons.length
      })
    },

    createAgentType: function () {

      const agentTypeName = this.agentTypeForm.name

      const agentData = {
        agentClass: Agent,
        agentItems: [],
        config: {
          name: agentTypeName,
          width: Number(this.agentTypeForm.width),
          height: Number(this.agentTypeForm.height),
          frames: {max: 9, columns: 4, rows: 3, hold: 3},
          offset: {x: 96, y: 46},
          scale: 1,
          nominalSpeed: Number(this.agentTypeForm.nominalSpeed),
          imageSrc: '../img/sprites/GirlSample_Walk_Down.png',
          spriteMap: this.agentTypeForm.spriteMap,
          thumbnail: this.agentTypeForm.thumbnail
        }
      }

      AGENT_DATA[agentTypeName] = agentData

      let newIcon = new AgentMenuIcon({
        menu: this.itemMenu,
        i: this.agentMenuButtons.length + 1,
        name: agentData.config.name,
        agent: agentData.agentClass,
        config: agentData.config
      })
      this.agentMenuButtons.push(newIcon)

      this.agentTypeForm.adding = false
    },

    deleteAgentType: function (agentType) {
      delete AGENT_DATA[agentType]
      this.$forceUpdate()
    },

    createAgentProperty: function () {
      const propName = this.propertiesSection.adding.newPropertyName
      const propValue = Number(this.propertiesSection.adding.newPropertyValue)
      this.selectedAgent.setProperty(propName, propValue)
      this.propertiesSection.adding.newPropertyName = ''
      this.propertiesSection.adding.newPropertyValue = 0
      this.propertiesSection.adding.status = false
    },
    deleteProperty: function (itemName) {
      this.propertiesSection.items = this.propertiesSection.items.filter(item => item.name !== itemName)
    },
    cancelSetAgentProperty: function () {
      this.propertiesSection.adding.status = false
      this.propertiesSection.adding.newPropertyName = ''
      this.propertiesSection.adding.newPropertyValue = 0
    },
    createAction: function () {
      const actionType = this.actionsSection.adding.type
      const actionName = this.actionsSection.adding.name
      const data = this.actionsSection.adding.forms[actionType]

      if (actionType === 'goTo') {

        const actionTarget = data.target

        let args = {
          id: this.actionsSection.items.length + 1,
          actionName: actionName,
          actionType: actionType,
          agentType: data.agentType,
          destinationType: data.destinationType,
          agentChoiceMethod: data.agentChoiceMethod,

          target: data.target
        }

        if (data.destinationType === 'point') {
          const selectedPointX = this.actionsSection.adding.forms.goTo.pointX
          const selectedPointY = this.actionsSection.adding.forms.goTo.pointY
          args.target = {
            name: `point: {x: ${selectedPointX}, y: ${selectedPointY}}`,
            width: 10,
            height: 10,
            position: {
              x: selectedPointX,
              y: selectedPointY
            }
          }
        }

        if (actionTarget === 'home') {
          args.destination = this.selectedAgent.home
        }

        let newAction = new ActionGoTo(null, args)
        this.actionsSection.items.push(newAction)

      }

      if (actionType === 'change') {

        const args = {
          id: this.actionsSection.items.length + 1,
          actionName: actionName,
          actionType: actionType,
          propertyChanges: []
        }

        let newAction = new ActionPropertyChanges(null, args)
        this.actionsSection.items.push(newAction)

      }

      if (actionType === 'interval') {

        const args = {
          id: this.actionsSection.items.length + 1,
          actionName: actionName,
          actionType: actionType,
          duration: Number(data.duration)
        }

        let newAction = new ActionInterval(null, args)
        this.actionsSection.items.push(newAction)
      }

      this.resetActionForms()

    },

    createPropertyChangeItem: function (action) {

      const property = this.propertyChangeForm.property
      const change = this.propertyChangeForm.change
      const value = this.propertyChangeForm.value

      const args = {
        agentType: this.propertyChangeForm.agent,
        agentChoiceMethod: this.propertyChangeForm.agentChoiceMethod,
        target: this.propertyChangeForm.target
      }
      const propChange = new PropertyChange(
        null,
        property,
        change,
        value,
        args
      )
      action.propertyChanges.push(propChange)
      this.propertyChangeForm.adding = false
    },

    resetActionForms: function () {
      // reset common form data/settings
      this.actionsSection.adding.name = ''
      this.actionsSection.adding.type = DEFAULT_ACTION_TYPE
      this.actionsSection.adding.status = false

      // reset specific settings (hard-coded keys for now)
      this.actionsSection.adding.forms.goTo.target = ''

    },
    deleteAction: function (itemName) {
      this.actionsSection.items = this.actionsSection.items.filter(item => item.actionName !== itemName)
    },
    cancelAddAction: function () {
      this.resetActionForms()
    },
    deleteCondition: function (index) {
      this.conditionsSection.items.splice(index, 1)
    },
    createCondition: function () {
      const conditionType = this.conditionsSection.adding.type
      const conditionName = this.conditionsSection.adding.name
      const data = this.conditionsSection.adding.forms[conditionType]

      if (conditionType === 'property') {

        console.log('creating condition')
        const conditionProperty = data.property
        const conditionComparison = data.comparison
        const conditionValue = data.value

        var newCondition = new Condition(
          this.selectedAgent,
          conditionName,
          conditionProperty,
          conditionComparison,
          Number(conditionValue),
          this.conditionsSection.items.length + 1  // id
        )
      } else {

        console.log('creating preset condition')
        const conditionPreset = data.preset
        const conditionComparison = data.comparison
        const conditionValue = data.value

        var newCondition = new PresetCondition(
          this.selectedAgent,
          conditionName,
          conditionPreset,
          conditionComparison,
          conditionValue,
          this.conditionsSection.items.length + 1  // id
        )
      }
      this.conditionsSection.items.push(newCondition)
      this.resetConditionForms()
    },
    resetConditionForms: function () {
      // reset common form data/settings
      this.conditionsSection.adding.name = ''
      this.conditionsSection.adding.type = DEFAULT_CONDITION_TYPE
      this.conditionsSection.adding.status = false

      // reset specific settings (hard-coded keys for now)
      this.conditionsSection.adding.forms.property.property = ''
      this.conditionsSection.adding.forms.property.comparison = ''
      this.conditionsSection.adding.forms.property.value = ''
      this.conditionsSection.adding.forms.preset.preset = ''
      this.conditionsSection.adding.forms.preset.comparison = ''
      this.conditionsSection.adding.forms.preset.value = ''
    },
    cancelAddCondition: function () {
      this.resetConditionForms()
    },
    createTransition: function (action) {
      const condition = this.actionTransitionForm.condition
      const nextAction = this.actionTransitionForm.nextAction

      const transition = new ActionTransition(condition, nextAction)
      action.transitions.push(transition)

      this.actionTransitionForm.condition = null
      this.actionTransitionForm.nextAction = null
      this.actionTransitionForm.adding = false
    },
    cancelAddTransition: function (action) {
      this.actionTransitionForm.condition = null
      this.actionTransitionForm.nextAction = null
      this.actionTransitionForm.adding = false
    },
    deleteTransition: function (action, transitionIndex) {
      action.transitions.splice(transitionIndex, 1)
    },
    conditionReadableFormat: function (condition) {
      const readable = `${ condition.property } ${ condition.comparison } ${ condition.value }`
      return readable
    },
    createSpriteSheet: function () {
      const args = {
        adding: this.spriteSheetForm.adding,
        name: this.spriteSheetForm.name,
        src: this.spriteSheetForm.src,
        columns: Number(this.spriteSheetForm.columns),
        rows: Number(this.spriteSheetForm.rows),
        numImages: Number(this.spriteSheetForm.numImages),
        refreshInterval: Number(this.spriteSheetForm.refreshInterval)
      }
      this.spriteSheets.push(new SpriteSheet(args))

      // 'save' to avoid inputting all after each page refresh
      localStorage.setItem('pondlifeSpriteSheets', JSON.stringify(this.spriteSheets))

      this.spriteSheetForm = {
        adding: false,
        name: '',
        src: '',
        columns: 1,
        rows: 1,
        numImages: 1,
        refreshInterval: 1
      }
    },
    saveSpriteSheet: function (spriteSheet) {
      spriteSheet.editing = false
      const args = {
        adding: spriteSheet.adding,
        name: spriteSheet.name,
        src: spriteSheet.src,
        columns: Number(spriteSheet.columns),
        rows: Number(spriteSheet.rows),
        numImages: Number(spriteSheet.numImages),
        refreshInterval: Number(spriteSheet.refreshInterval)
      }
      const props = Object.keys(args)
      props.forEach(prop => spriteSheet[prop] = args[prop])
      localStorage.setItem('pondlifeSpriteSheets', JSON.stringify(this.spriteSheets))
    },
    deleteSpriteSheet: function (index) {
      this.spriteSheets.splice(index, 1)
      // 'save' to avoid inputting all after each page refresh
      localStorage.setItem('pondlifeSpriteSheets', JSON.stringify(this.spriteSheets))
    },
    updateSpritesheetFileInput: function (event, spriteSheetForm) {
      const fileName = "../img/sprites/" + event.target.files[0].name
      spriteSheetForm.src = fileName
      localStorage.setItem('pondlifeSpriteSheets', JSON.stringify(this.spriteSheets))
      localStorage.setItem('pondlifeSpriteMaps', JSON.stringify(this.spriteMaps))
    },
    updateThumbnailFileInput: function (event, agentTypeForm) {
      const fileName = "../img/thumbnails/" + event.target.files[0].name
      agentTypeForm.thumbnail = fileName
      this.$forceUpdate()
    },
    createSpriteMap: function () {
      const args = {...this.spriteMapForm}
      this.spriteMaps.push(new SpriteMap(args))

      // 'save' to avoid inputting all after each page refresh
      localStorage.setItem('pondlifeSpriteMaps', JSON.stringify(this.spriteMaps))

      this.spriteMapForm = {
        adding: false,
        name: '',
        sheets: {
          idle: '',
          up: '',
          upRight: '',
          right: '',
          downRight: '',
          down: '',
          downLeft: '',
          left: '',
          upLeft: ''
        }
      }
    },
    saveSpriteMap: function (spriteMap) {
      spriteMap.editing = false
      localStorage.setItem('pondlifeSpriteMaps', JSON.stringify(this.spriteMaps))
    },
    deleteSpriteMap: function (index) {
      this.spriteMaps.splice(index, 1)

      // 'save' to avoid inputting each page refresh
      localStorage.setItem('pondlifeSpriteMaps', JSON.stringify(this.spriteMaps))
    },

    /* ANIMATE */

    animate: function () {

      let hover = null

      c.fillStyle = backgroundColor
      c.fillRect(0, 0, canvas.width, canvas.height)

      const animationId = requestAnimationFrame(this.animate)
      this.GlobalSettings.animationFrameId = animationId

      const agentTypes = Object.keys(AGENT_DATA).map(agent => AGENT_DATA[agent].agentItems)

      // update each agent of each agent type
      agentTypes.forEach(agentItems => {
        agentItems.forEach(agent => {
          agent.update({}, this.GlobalSettings)
          const isInArea = pointIsInArea(this.mouse, agent.collisionArea)
          if (isInArea) hover = true
        })
      })
      
      this.itemMenu.update(this.agentMenuButtons.length + 1)

      this.agentMenuButtons.forEach((button, i) => {
        button.update(i)
        const isInArea = pointIsInArea(this.mouse, button.area)
        if (isInArea) hover = true
      })

      if (this.agentPreview) this.agentPreview.update(this.mouse)

      if (pointIsInArea(this.mouse, this.deleteButton.area)) hover = true

      if (this.selectionMode === true) hover = true

      this.deleteButton.update(this.agentMenuButtons.length, this.deleteMode)

      canvas.style.cursor = hover ? 'pointer' : 'auto'

      if (animationId % dayLength === 0) endDay()

      if (this.GlobalSettings.animationFrameId % 32 === 0) {
        const customerActions = AGENT_DATA.customer.agentItems.map(
          cust => `customer: ${cust.num}, action: ${cust.currentAction ? cust.currentAction.name : 'none'}`
        )
        console.log(JSON.stringify(customerActions, null, 2))
      }

    },

    selectOrDeleteAgent: function (agentClassName, point) {
      let agentItems = AGENT_DATA[agentClassName].agentItems
      agentItems.forEach((agent, i) => {
        const isInArea = pointIsInArea(point, agent.collisionArea)

        // SELECT AGENT
        if (isInArea) {
          this.selectedAgent = agent
          hover = true

          if (this.selectionMode === true) {
            this.selectedTargetAgent = agent
            this.actionsSection.adding.forms.goTo.target = this.selectedTargetAgent
          }
        }
        // DELETE AGENT (in delete mode)
        if (isInArea && this.deleteMode === true) {
          const agent = agentItems[i]
          agent.labelElement.remove()
          agentItems.splice(i, 1)
        }
      })
    },
    cloneAction: function (action) {
      this.selectedAgent.currentAction = action.clone(this.selectedAgent, {})
    },

    addAgent: function (agentClassName, agentItems) {
      const num = agentItems.length + 1
      agentItems.push( new Agent({
        position: {
          x: this.mouse.x - AGENT_DATA[agentClassName].config.width / 2,
          y: this.mouse.y - AGENT_DATA[agentClassName].config.height / 2
        },
        num: num,
        globals: this.GlobalSettings,
        offset: AGENT_DATA[agentClassName].config.offset,
        scale: AGENT_DATA[agentClassName].config.scale,
        config: AGENT_DATA[agentClassName].config
      }))
    }
  }
})


</script>

</html>