<html>

<head>

<script src="js/lib/vue@2.7.16.js"></script>

<style>

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  width: 1000px;
  height: 400px;
}

#container {
  display: flex;
  width: 100%;
  justify-content: left;
}

.info-container {
  border: 1px solid black;
  width: 100%;
  padding: 5px;
  height: 1000px;
}

.speed-slide-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.day-container {
  padding: 5px;
}

.old-old-menu-subheading {
  font-weight: bold;
  margin: 16px 0 16px 0;
}

.old-old-menu-section {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.menu-action-name {
  font-size: 24px;
}

.created-item {
  margin: 20px 0 20px 0;
  border-bottom: 1px solid black;
  padding: 20px 0 20px 0;
}

.created-item-header {
  display: flex;
}



</style>

</head>

<body>

<div id="container">

  <canvas></canvas>

  <div class="info-container">

    <div class="menu-section" id="properties-section">
      <h3 class="menu-section-heading">Properties</h3>
      <!-- PROPERTY LIST -->
      <div class="item-list">
        <div v-for="item in propertiesSection.items">
          <div v-if="item.editing === true">
            <input type="text" placeholder="name" :value="item.name" disabled />
            <input v-model="item.value" type="text" placeholder="value" :value="item.value" />
            | <button @click="item.editing = false">done</button>
          </div>
          <div v-else>
            <input type="text" placeholder="name" :value="item.name" disabled />: 
            <input type="text" placeholder="value" :value="item.value" disabled /> -
            <button @click="item.editing = true">edit</button> |
            <button @click="deleteProperty(item.name)">delete</button>
          </div>
        </div>

        <!-- ADD PROPERTY -->
        <div v-if="propertiesSection.adding.status === false" class="add-container">
          <button @click="propertiesSection.adding.status = true">new property +</button>
        </div>
        <div v-else>
          <input v-model="propertiesSection.adding.newPropertyName" type="text" placeholder="name" />
          <input v-model="propertiesSection.adding.newPropertyValue" type="text" placeholder="value" />
          <button @click="createProperty">add</button> |
          <button @click="cancelAddProperty">cancel</button>
        </div>
      </div>
    </div>

    <!-- ACTIONS -->

    <div class="menu-section" id="actions-section">
      <h3 class="menu-section-heading">Actions</h3>

      <!-- ACTION LIST -->
      <div class="item-list">
        <div v-for="action in actionsSection.items" class="created-item">

          <div class="created-item-header">
            <div class="menu-action-name">{{ action.name }}</div>
            <div v-if="action.editing">
              <button @click="action.editing = false">save</button>
              <button @click="action.editing = false">cancel</button>
            </div>
            <div v-else>
              <button @click="action.editing = true">edit</button>
              <button @click="deleteAction(action.name)">delete</button>
            </div>
          </div>
          <div>action type: {{ action.type }}</div>

          <!-- GOTO ACTION EDIT FORM -->
          <div v-if="action.type === 'goTo'">
            <div v-if="action.editing === true">
              <select v-model="action.type">
                <option value="goTo">go to</option>
                <option value="change">change</option>
              </select>
              <input v-model="action.target" type="text" placeholder="target" :value="action.target" />
            </div>
            <div v-else>
              <input type="text" placeholder="target" :value="action.target" disabled />
            </div>
          </div>

          <!-- PROPERTY CHANGE ACTION EDIT FORM -->
          <div v-if="action.type === 'change'">
            <div v-if="action.editing === true">
              <select v-model="action.property">
                <option value="money">money</option>
              </select>
              <select v-model="action.change">
                <option value="increase">increase</option>
                <option value="decrease">decrease</option>
              </select>
              <input v-model="action.value" type="text" placeholder="value" :value="action.value" />
            </div>
            <div v-else>
              <input type="text" placeholder="property" :value="action.property" disabled />
              <input type="text" placeholder="change" :value="action.change" disabled />
              <input type="text" placeholder="value" :value="action.value" disabled />      
            </div>
          </div>
          <br />

          <h4>Action transitions</h4>

          <div v-for="(transition, index) in action.transitions.items">
            <div v-if="transition.editing === true">
              <select v-for="condition in conditionsSection.items">
                <option :value="transition.condition">{{ conditionReadableFormat(condition) }}</option>
              </select>
              <select v-for="action in actionsSection.items">
                <option :value="transition.nextAction">{{ action.name }}</option>
              </select>
              <button @click="transition.editing = false">save</button>
              <button @click="transition.editing = false">cancel</button>
            </div>
            <div v-else>
              IF {{ conditionReadableFormat(transition.condition) }} TRANSITION TO {{ transition.nextAction.name }} 
              <button @click="transition.editing = true">edit</button>
              <button @click="deleteTransition(action, index)">delete</button>
            </div>
          </div>

          <div v-if="action.transitions.adding === true">
            <select v-for="(condition, conditionIndex) in conditionsSection.items" v-model="action.transitions.newCondition">
              <option :value="condition">
                {{ condition.property }} {{ condition.comparison }} {{ condition.value }}
              </option>
            </select>
            <select v-for="action in actionsSection.items" v-model="action.transitions.newNextAction">
              <option :value="action">
                {{ action.name }}
              </option>
            </select>
            <button @click="createTransition(action)">add</button> |
            <button @click="cancelAddTransition(action)">cancel</button>
          </div>
          <div v-else>
            <button @click="action.transitions.adding = true">+ Add action transition</button>
          </div>
          
        </div>

        <!-- ACTIONS CREATE -->

        <div v-if="actionsSection.adding.status === false" class="add-container">
          <button @click="actionsSection.adding.status = true">new action +</button>
        </div>
        <div v-else>
          <input v-model="actionsSection.adding.name" type="text" placeholder="name" />
          <br />
          <select v-model="actionsSection.adding.type">
            <option value="goTo">go to</option>
            <option value="change">change</option>
          </select>
          <br />

          <!-- FORM FIELDS SPECIFIC TO ACTION TYPE -->
          <div v-if="actionsSection.adding.type === 'goTo'">
            <input v-model="actionsSection.adding.forms.goTo.target" type="text" placeholder="target" />
          </div>
          <div v-else-if="actionsSection.adding.type === 'change'">
            <select
              v-model="actionsSection.adding.forms.change.property"
              id="action-change-property-name"
            >
              <option value="">-- select property --</option>
              <option value="money">money</option>
            </select>
            <select v-model="actionsSection.adding.forms.change.change" value="change">
              <option value="">-- select change --</option>
              <option value="increase">increase</option>
              <option value="decrease">decrease</option>
            </select>
            <input
              type="text"
              v-model="actionsSection.adding.forms.change.value"
              id="action-change-property-value"
              placeholder="property value"
            />
          </div>
          <button @click="createAction">add</button> |
          <button @click="cancelAddAction">cancel</button>
        </div>
      </div>
    </div>

    <!-- CONDITIONS -->

    <div class="menu-section" id="actions-section">
      <h3 class="menu-section-heading">Conditions</h3>

      <!-- CONDITION LIST -->
      <div class="item-list">
        <div v-for="(item, index) in conditionsSection.items" class="created-item">

          <div class="created-item-header">
            <div class="menu-action-name">{{ item.type === 'property' ? item.property : item.preset }}</div>&nbsp;
            <div class="menu-action-name">{{ item.comparison }}</div>&nbsp;
            <div class="menu-action-name">{{ item.value }}</div>
            <div v-if="item.editing">
              <button @click="item.editing = false">save</button>
              <button @click="item.editing = false">cancel</button>
            </div>
            <div v-else>
              <button @click="item.editing = true">edit</button>
              <button @click="deleteCondition(index)">delete</button>
            </div>
          </div>

          <!-- CONDITION FORM -->
          <div v-if="item.editing === true">
            <select v-model="item.type">
              <option value="property">property</option>
              <option value="preset">preset</option>
            </select>
          </div>
          
            <div v-if="item.editing === true">
              <div v-if="item.type === 'property'">
                <select v-model="item.property">
                  <option value="money">money</option>
                </select>
              </div>
              <div v-else-if="item.type === 'preset'">
                <select v-model="item.preset">
                  <option value="atDestination">at destination</option>
                </select>
              </div>

              <select v-model="item.comparison">
                <option value="isGreaterThan">is greater than</option>
                <option value="isIdentical">is</option>
              </select>
              <input v-model="item.value" type="text" placeholder="value" :value="item.value" />
            </div>
            <div v-else>
              <div v-if="item.type === 'property'">
                <input type="text" placeholder="property" :value="item.property" disabled />
              </div>
              <div v-else-if="item.type === 'preset'">
                <input type="text" placeholder="preset" :value="item.preset" disabled />
              </div>
              <input type="text" placeholder="comparison" :value="item.comparison" disabled />
              <input type="text" placeholder="value" :value="item.value" disabled />
            </div>
          </div>

          <!-- CONDITION CREATE -->

          <div v-if="conditionsSection.adding.status === false" class="add-container">
            <button @click="conditionsSection.adding.status = true">new condition +</button>
          </div>
          <div v-else>
            <input v-model="conditionsSection.adding.name" type="text" placeholder="name" />
            <br />
            <select v-model="conditionsSection.adding.type">
              <option value="property">property</option>
              <option value="preset">preset</option>
            </select>
            <br />

            <div v-if="conditionsSection.adding.type === 'property'">
              <select
                v-model="conditionsSection.adding.forms.property.property"
                id="action-change-property-name"
              >
                <option value="">-- select property --</option>
                <option value="money">money</option>
              </select>
              <select v-model="conditionsSection.adding.forms.property.comparison" value="isGreaterThan">
                <option value="">-- select comparison --</option>
                <option value="isGreaterThan">is greater than</option>
                <option value="isLessThan">is less than</option>
              </select>
              <input
                type="text"
                v-model="conditionsSection.adding.forms.property.value"
                id="action-change-property-value"
                placeholder="conditions value"
              />
            </div>

            <div v-else-if="conditionsSection.adding.type === 'preset'">
              <select
                v-model="conditionsSection.adding.forms.preset.preset"
                id="action-change-property-name"
              >
                <option value="">-- select preset --</option>
                <option value="atDestination">at destination</option>
              </select>

              <select v-model="conditionsSection.adding.forms.preset.comparison" value="isIdentical">
                <option value="">-- select comparison --</option>
                <option value="isIdentical">is</option>
              </select>
              <input
                type="text"
                v-model="conditionsSection.adding.forms.preset.value"
                id="action-change-property-value"
                placeholder="conditions value"
              />
            </div>

            <button @click="createCondition">add</button> |
            <button @click="cancelAddCondition">cancel</button>

        </div>
      </div>

    </div>

  </div>

</div>

<script>


const DEFAULT_ACTION_TYPE = 'goTo'
const DEFAULT_CONDITION_TYPE = 'property'


var vue = new Vue({
  el: '#container',
  data: {
    propertiesSection: {
      items: [{name: 'money', value: 200, editing: false}],
      adding: {
        status: false,
        newPropertyName: '',
        newPropertyValue: ''
      }
    },
    actionsSection: {
      items: [
        {
          name: 'go to shop',
          type: 'goTo',
          target: 'lemonadeStall 1',
          editing: false,
          transitions: {
            items: [],
            adding: false,
            newCondition: '',
            newNextAction: ''
          }
        }
      ],
      adding: {
        status: false,
        type: 'goTo',
        name: '',
        forms: {
          goTo: {
            target: ''
          },
          change: {
            property: '',
            change: '',
            value: ''
          }
        }

      }
    },
    conditionsSection: {
      items: [
        {
          type: 'property',
          property: 'money',
          comparison: 'isGreaterThan',
          value: 20,
          editing: false
        }
      ],
      adding: {
        status: false,
        type: 'property',
        forms: {
          property: {
            property: '',
            comparison: '',
            value: ''
          },
          preset: {
            preset: '',
            comparison: '',
            value: ''
          }
        }
      }
    }
  },

  methods: {
    createProperty: function () {
      const propName = this.propertiesSection.adding.newPropertyName
      const propValue = this.propertiesSection.adding.newPropertyValue
      this.propertiesSection.items.push({name: propName, value: propValue, editing: false})
      this.propertiesSection.adding.newPropertyName = ''
      this.propertiesSection.adding.newPropertyValue = ''
      this.propertiesSection.adding.status = false
    },
    deleteProperty: function (itemName) {
      this.propertiesSection.items = this.propertiesSection.items.filter(item => item.name !== itemName)
    },
    cancelAddProperty: function () {
      this.propertiesSection.adding.status = false
      this.propertiesSection.adding.newPropertyName = ''
      this.propertiesSection.adding.newPropertyValue = ''
    },
    createAction: function () {
      const actionType = this.actionsSection.adding.type
      const data = this.actionsSection.adding.forms[actionType]
      const actionName = this.actionsSection.adding.name
      const formData = {...data, name: actionName, type: actionType, editing: false}

      this.actionsSection.items.push(formData)
      this.resetActionForms()
    },
    resetActionForms: function () {
      // reset common form data/settings
      this.actionsSection.adding.name = ''
      this.actionsSection.adding.type = DEFAULT_ACTION_TYPE
      this.actionsSection.adding.status = false

      // reset specific settings (hard-coded keys for now)
      this.actionsSection.adding.forms.goTo.target = ''
      this.actionsSection.adding.forms.change.property = ''
      this.actionsSection.adding.forms.change.change = ''
      this.actionsSection.adding.forms.change.value = ''

    },
    deleteAction: function (itemName) {
      this.actionsSection.items = this.actionsSection.items.filter(item => item.name !== itemName)
    },
    cancelAddAction: function () {
      this.resetActionForms()
    },
    deleteCondition: function (index) {
      this.conditionsSection.items.splice(index, 1)
    },
    createCondition: function () {
      const conditionType = this.conditionsSection.adding.type
      const data = this.conditionsSection.adding.forms[conditionType]
      // const conditionName = this.conditionsSection.adding.name
      const formData = {...data, type: conditionType, editing: false}

      this.conditionsSection.items.push(formData)
      this.resetActionForms()
    },
    resetConditionForms: function () {
      // reset common form data/settings
      this.conditionsSection.adding.name = ''
      this.conditionsSection.adding.type = DEFAULT_CONDITION_TYPE
      this.conditionsSection.adding.status = false

      // reset specific settings (hard-coded keys for now)
      this.conditionsSection.adding.forms.property.property = ''
      this.conditionsSection.adding.forms.property.comparison = ''
      this.conditionsSection.adding.forms.property.value = ''
      this.conditionsSection.adding.forms.preset.preset = ''
      this.conditionsSection.adding.forms.preset.comparison = ''
      this.conditionsSection.adding.forms.preset.value = ''
    },
    cancelAddCondition: function () {
      this.resetConditionForms()
    },
    createTransition: function (action) {
      const transitionCondition = action.transitions.newCondition
      const transitionNextAction = action.transitions.newNextAction
      action.transitions.items.push({
        condition: transitionCondition,
        nextAction: transitionNextAction,
        editing: false
      })
      action.transitions.newCondition = ''
      action.transitions.newNextAction = ''
      action.transitions.adding = false
    },
    cancelAddTransition: function (action) {
      action.transitions.adding = false
      action.transitions.newCondition = ''
      action.transitions.newNextAction = ''
    },
    deleteTransition: function (action, transitionIndex) {
      action.transitions.items.splice(transitionIndex, 1)
    },
    conditionReadableFormat: function (condition) {
      const readable = `${ condition.property } ${ condition.comparison } ${ condition.value }`
      console.log(readable)
      return readable
    }
  }
})


</script>

</body>

</html>

