<html>

<head>

<script src="js/lib/vue@2.7.16.js"></script>

<style>

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  width: 1000px;
  height: 400px;
}

#container {
  display: flex;
  width: 100%;
  justify-content: left;
}

.info-container {
  border: 1px solid black;
  width: 100%;
  padding: 5px;
  height: 1000px;
}

.speed-slide-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.day-container {
  padding: 5px;
}

.old-old-menu-subheading {
  font-weight: bold;
  margin: 16px 0 16px 0;
}

.old-old-menu-section {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.menu-action-name {
  font-size: 24px;
}

.created-action-item-header {
  display: flex;
}

.created-action-item {
  margin-bottom: 20px;
}

</style>

</head>

<body>

<div id="container">

  <canvas></canvas>

  <div class="info-container">

    <div class="menu-section" id="properties-section">
      <h3 class="menu-section-heading">Properties</h3>
      <!-- PROPERTY LIST -->
      <div class="item-list">
        <div v-for="item in propertiesSection.items">
          <div v-if="item.editing === true">
            <input type="text" placeholder="name" :value="item.name" disabled />
            <input v-model="item.value" type="text" placeholder="value" :value="item.value" />
            | <button @click="item.editing = false">done</button>
          </div>
          <div v-else>
            <input type="text" placeholder="name" :value="item.name" disabled />: 
            <input type="text" placeholder="value" :value="item.value" disabled /> -
            <button @click="item.editing = true">edit</button> |
            <button @click="deleteProperty(item.name)">delete</button>
          </div>
        </div>

        <!-- ADD PROPERTY -->
        <div v-if="propertiesSection.adding.status === false" class="add-container">
          <button @click="propertiesSection.adding.status = true">new property +</button>
        </div>
        <div v-else>
          <input v-model="propertiesSection.adding.newPropertyName" type="text" placeholder="name" />
          <input v-model="propertiesSection.adding.newPropertyValue" type="text" placeholder="value" />
          <button @click="createProperty">add</button> |
          <button @click="cancelAddProperty">cancel</button>
        </div>
      </div>
    </div>

    <div class="menu-section" id="actions-section">
      <h3 class="menu-section-heading">Actions</h3>

      <!-- ACTION LIST -->
      <div class="item-list">
        <div v-for="item in actionsSection.items" class="created-action-item">

          <div class="created-action-item-header">
            <div class="menu-action-name">{{ item.name }}</div>
            <div v-if="item.editing">
              <button @click="item.editing = false">save</button>
              <button @click="item.editing = false">cancel</button>
            </div>
            <div v-else>
              <button @click="item.editing = true">edit</button>
              <button @click="deleteAction(item.name)">delete</button>
            </div>
          </div>
          <div>action type: {{ item.type }}</div>

          <!-- GOTO ACTION EDIT FORM -->
          <div v-if="item.type === 'goTo'">
            <div v-if="item.editing === true">
              <select v-model="item.type">
                <option value="goTo">go to</option>
                <option value="change">change</option>
              </select>
              <input v-model="item.target" type="text" placeholder="target" :value="item.target" />
            </div>
            <div v-else>
              <input type="text" placeholder="target" :value="item.target" disabled />
            </div>
          </div>

          <!-- PROPERTY CHANGE ACTION EDIT FORM -->
          <div v-if="item.type === 'change'">
            <div v-if="item.editing === true">
              <select v-model="item.property">
                <option value="money">money</option>
              </select>
              <select v-model="item.change">
                <option value="increase">increase</option>
                <option value="decrease">decrease</option>
              </select>
              <input v-model="item.value" type="text" placeholder="value" :value="item.value" />
            </div>
            <div v-else>
              <input type="text" placeholder="value" :value="item.value" disabled />
            </div>
          </div>
        </div>

        <div v-if="actionsSection.adding.status === false" class="add-container">
          <button @click="actionsSection.adding.status = true">new action +</button>
        </div>
        <div v-else>
          <input v-model="actionsSection.adding.name" type="text" placeholder="name" />
          <br />
          <select v-model="actionsSection.adding.type">
            <option value="goTo">go to</option>
            <option value="change">change</option>
          </select>
          <br />

          <!-- FORM FIELDS SPECIFIC TO ACTION TYPE -->
          <div v-if="actionsSection.adding.type === 'goTo'">
            <input v-model="actionsSection.adding.forms.goTo.target" type="text" placeholder="target" />
          </div>
          <div v-else-if="actionsSection.adding.type === 'change'">
            <select
              v-model="actionsSection.adding.forms.change.property"
              id="action-change-property-name"
            >
              <option value="">-- select property --</option>
              <option value="money">money</option>
            </select>
            <select v-model="actionsSection.adding.forms.change.change" value="change">
              <option value="">-- select change --</option>
              <option value="increase">increase</option>
              <option value="decrease">decrease</option>
            </select>
            <input
              type="text"
              v-model="actionsSection.adding.forms.change.value"
              id="action-change-property-value"
              placeholder="property value"
            />
          </div>
          <button @click="createAction">add</button> |
          <button @click="cancelAddAction">cancel</button>
        </div>
      </div>
    </div>

  </div>

</div>

<script>

var vue = new Vue({
  el: '#container',
  data: {
    propertiesSection: {
      items: [{name: 'money', value: 200, editing: false}],
      adding: {
        status: false,
        newPropertyName: '',
        newPropertyValue: ''
      }
    },
    actionsSection: {
      items: [{name: 'go to shop', type: 'goTo', target: 'lemonadeStall 1', editing: false}],
      adding: {
        status: false,
        type: 'goTo',
        name: '',
        forms: {
          goTo: {
            target: ''
          },
          change: {
            property: '',
            change: '',
            value: ''
          }
        }

      }
    },
    conditionsSection: {
      items: [],
      adding: {
        status: false
      }
    }
  },

  methods: {
    createProperty: function () {
      const propName = this.propertiesSection.adding.newPropertyName
      const propValue = this.propertiesSection.adding.newPropertyValue
      this.propertiesSection.items.push({name: propName, value: propValue, editing: false})
      this.propertiesSection.adding.newPropertyName = ''
      this.propertiesSection.adding.newPropertyValue = ''
      this.propertiesSection.adding.status = false
    },
    deleteProperty: function (itemName) {
      this.propertiesSection.items = this.propertiesSection.items.filter(item => item.name !== itemName)
    },
    cancelAddProperty: function () {
      this.propertiesSection.adding.status = false
      this.propertiesSection.adding.newPropertyName = ''
      this.propertiesSection.adding.newPropertyValue = ''
    },
    createAction: function () {
      const actionType = this.actionsSection.adding.type
      const data = this.actionsSection.adding.forms[actionType]
      console.log('data')
      console.log(data)
      const actionName = this.actionsSection.adding.name
      const formData = {...data, name: actionName, type: actionType, editing: false}

      console.log(formData)

      this.actionsSection.items.push(formData)

      // reset common form data/settings
      this.actionsSection.adding.name = ''
      this.actionsSection.adding.type = ''
      this.actionsSection.adding.status = false

      // reset specific settings (hard-coded keys for now)
      if (actionType === 'goTo') {
        this.actionsSection.adding.forms.goTo.target = ''
      } else if (actionType === 'change') {
        this.actionsSection.adding.forms.change.property = ''
        this.actionsSection.adding.forms.change.change = ''
        this.actionsSection.adding.forms.change.value = ''
      }
    },
    deleteAction: function (itemName) {
      this.actionsSection.items = this.actionsSection.items.filter(item => item.name !== itemName)
    },
    cancelAddAction: function () {
      this.actionsSection.adding.status = false
      this.actionsSection.adding.newActionName = ''
      this.actionsSection.adding.newActionType = ''
      this.actionsSection.adding.newActionTarget = ''
    }
  }
})


</script>

</body>

</html>

